* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: white;
    text-decoration:none;
}
/*____________________________*/
/*HOME*/
#containerHomeFlex {
    background-image: url("https://i.ibb.co/KzYFwZH/fondo-celular-420x640.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#home {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#containerTextYug {
    /*background:rgba(115, 241, 255, 0.283);*/
    height: 65%;
    padding: 20%;
    font-size: 1rem;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

#logo img {
    width: 190px;
    margin-bottom: 10px;
}

#containerBtn {
    /* background:rgba(255, 115, 234, 0.283);*/
    width: 100%;
    height: 35%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns {
    background: linear-gradient(90deg, #F3A674 0%, #25394A 97.33%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.249);
    border-radius: 40px;
    color: rgba(255, 255, 255, 0.762);
    width: 190px;
    height: 48px;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
}
/*____________________________*/
/*REGISTER*/
#arrowBack {
    display: flex;
    align-self: flex-start;
    margin: 20px 0 0 20px;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
}
#logo2 img {
    width: 80px;
    margin: 0 30px 15px;
}

#containerRegister {
    background-image: url("http://imgfz.com/i/aqc1IS5.jpeg");
    height: 100vh;
    width: 100%;
}

#containerForm {
    background: rgba(0, 0, 0, 0.249);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    width: 240px;
    height: 48px;
    margin: 12px;
    border: none;
    font-size: 0.9rem;
}

.textInput {
    padding: 20px;
}

::placeholder {
    color: white;
    font-weight: 300;
    font-style: italic;
}

#form p {
  margin-top:8px;
}

#textYug {
    margin-top: 8px;
}

#logoG img {
    width: 70px;
    margin: 15px;
}

.question {
    font-size: 0.95rem;
    margin-top: 0;
}

span {
    font-weight: 600;
}
/*____________________________*/
/*LOGIN*/
#containerLogin {
    background-image: url("http://imgfz.com/i/aqc1IS5.jpeg");
    height: 100vh;
    width: 100%;
}

/*___________________________*/
/*MENU*/
#containerMenu{
    background: #FFFDFC;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100%;
}

#headerMenu{
    background: #FFFDFC;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

#menu{
    background: #25394A;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 60px;
    bottom: 0;
    justify-content: space-around;
    position: fixed;
    box-shadow:  4px 4px rgba(0, 0, 0, 0.25);
}

#start, #create, #profile{
    border: none;
    background: #25394A;
}


/*CREATE*/
.newPost{
    background: #FFFDFC;
    position: fixed;
    display: none;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100%;
}

.title{
    background: #FFFDFC;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
}

.title p{
    color: #000000;
    font-weight: 400;
    font-size: 0.95rem;

}

#share{
    border: none;
    color: #25394A;
    background: #FFFDFC;
    font-weight: 600;
    font-size: 0.95rem;
}

.title i{
    color: #25394A;
    font-size: 1.5rem; 
}

.title .btnClosePost{
    background: #FFFDFC;
    border: none;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFDFC;
    width: 100%;
    height: 100%;
}

#writeText{
    color: #25394A;
    background: #FFFDFC;
    margin-top: 100px;
    width: 88%;
    height: 250px;
    padding: 10px;
    border-radius: 3px;
    align-self: center;
}

.text i{
    color: #EFA373;
    font-size: 2.5rem; 
}

.text .btnImage{
    background: #ffffff;
    border: none;
    border-radius: 5px;
    align-self: flex-end;
    margin: 25px;
}

/*FEED*/
#containerFeed{
    background: #FFFDFC;
    display: flex;
    flex-flow: column nowrap;
    height: 640px;
    width: 100%;
}

#headerFeed{
    background: #FFFDFC;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

/*PROFILE*/
#containerProfile{
    background: #FFFDFC;
    display: flex;
    flex-flow: column nowrap;
    height: 640px;
    width: 100%;
    align-items: center;
}

#headerProfile{
    background: #FFFDFC;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    justify-content: space-around;
}

#logOut{
    border: none;
    color: #25394A;
    background: #FFFDFC;
    font-weight: 600;
    font-size: 0.95rem;
}

.imageProfile{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.infoProfile{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 85%;
    justify-content: center;
    align-items: center;
}

.infoProfile h3{
    color: #000000;
    margin-block-end: 5px;
}
.infoProfile h4{
    color: #000000;
}
.infoProfile p{
    color: #000000;
    line-height: 23px;
    margin-top: 8px;
}

.infoProfile .description{
    margin-top: 40px;
    width: 90%;
    align-items: flex-start;
}











/*________MEDIA____________*/
/*HOME*/
@media (min-width: 420px) {
    #containerHomeFlex {
        background-image: url("https://i.ibb.co/b5SVBvT/fondo-desktop-opacidad.jpg");
        height: 100vh;
        margin-top: 0px;
        display: flex;
        justify-content: center;
    }
    
    #home {
       /* background: rgba(0, 0, 0, 0.3);*/
        width: 450px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
    }
    
    #containerTextYug {
        /*background:rgba(115, 241, 255, 0.283);*/
        width:75%;
        height: 65%;
        margin:5% 15% 0 15%;
        padding: 10%;
        display: flex;
        flex-direction: column; 
        justify-content: center;
    }

    #textYug{
        /*background:rgba(255, 180, 115, 0.42);*/
        width:100%;
    }
    
    #containerBtn {
        margin-top: 10px;
    }
/*___________________________*/
/*REGISTER*/
    #containerRegister {
        background-image: url("https://i.ibb.co/b5SVBvT/fondo-desktop-opacidad.jpg");
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    #containerForm {
        width: 450px;
        height: 100vh;
    }
/*___________________________*/
/*LOGIN*/
#containerLogin {
    background-image: url("https://i.ibb.co/b5SVBvT/fondo-desktop-opacidad.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    }



/*___________________________*/
/*MENÚ*/

#headerMenu{
    background: #FFFDFC;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    height: 100px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    padding-right: 12%;
}

#headerMenu img{
    width: 70px;
}

#menu{
    background: #25394A;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
    flex: 1;
    width: 13%;
    height: 100vh;
}

#start, #create, #profile{
    border: none;
    background: rgb(255, 159, 159);
    background: url(https://i.ibb.co/4NQ5JQK/menu-home.png);
}


.title{
    padding-right: 12%;
}

.newPost{
    padding-right: 12%;
}

#writeText{
    margin-top:150px;
    width: 75%;
}

}

/*__________________________*/
@media (min-width: 1280px) {
    #containerHomeFlex {
        background-image: url("https://i.ibb.co/9bPrGf0/img-1920x1080-opacidad.jpg");
        background-repeat: no-repeat;
        height: 100vh;
    }

    #home {
         width: 700px;
     }

     #containerTextYug {
        height: 65%;
        font-size: 1.5rem;
        line-height: 34px;
    }

    #logo img {
        width: 260px;
        margin-bottom: 20px;
    }
    #textYug {
        margin-top: 8px;
        width:100%;
    }

    #containerBtn {
        width: 100%;
        height: 35%;
        margin-top: 30px;
    }
    
    .btns {
        width: 250px;
        height: 63px;
        font-size: 1.2rem;
        margin: 0px 20px 35px 20px;
    }
    /*___________________________*/
    /*REGISTER*/
    #containerRegister {
        background-image: url("https://i.ibb.co/9bPrGf0/img-1920x1080-opacidad.jpg");
    }

    #containerForm {/*cuadro negro*/
        width: 700px;
    }

    #form {
        width:80%;
        height: 100vh;
        margin-top: 30px;
    }

    #arrowBack {
        margin: 30px 0 0 30px;
        font-size: 3rem;
    }

    #logo2 img {
        width: 120px;
        margin: 0 30px 15px;
    }

    input {
        width: 320px;
        height: 60px;
        margin: 0px 20px 30px 20px;
        font-size: 1.1rem;   
    }
    
    .textInput {
        padding: 33px;
    }

    #form p {
        font-size: 1.2rem;
      }

    /*___________________________*/
    /*LOGIN*/
    #containerLogin {
        background-image: url("https://i.ibb.co/9bPrGf0/img-1920x1080-opacidad.jpg");
        }




}
