* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: white;
    text-decoration: none;
}

/*_______________________________________________________________*/
/*HOME*/
#containerHomeFlex {
    background-image: url("https://i.ibb.co/3FH8zwv/fondo-celular-900x420.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
}

#containerTextYug {
    height: 65%;
    width:100%;
    font-size: 1rem;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

#textYug {
    margin-top: 8px;
    width: 70%;
}

#logo img {
    width: 11.9rem;
    margin-bottom: 0.6rem;
}

#containerBtn {
    width: 100%;
    height: 35%;
    margin-top: 1.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns {
    background: linear-gradient(90deg, #F3A674 0%, #25394A 97.33%);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.249);
    border-radius: 2.5rem;
    color: rgba(255, 255, 255, 0.762);
    width: 12.5rem;
    height: 3rem;
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
}

#btnSignUp{
    margin-top: 10px;
}

#btnLogin{
    margin-top: 10px;
}

/*_______________________________________________________________*/
/*REGISTER*/
.arrowBack {
    margin: 0 0 0 1.25rem;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    display: flex;
    align-self: flex-start; 
}

#logo2 img {
    width: 5rem;
    margin: 0 1.9rem 0.9rem;
}

#containerRegister {
    background-image: url("https://i.ibb.co/3FH8zwv/fondo-celular-900x420.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerForm {
    background: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form input {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    width: 260px;
    height: 50px;
    margin: 10px;
    border: none;
    font-size: 1rem;
}

.textInput {
    padding-left: 30px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.646);
    font-weight: 300;
    font-style: italic;
}

#errorMssg{
    color:rgb(254, 101, 101);
    font-weight: 600;
    font-size: 0.95rem;
}

#form p {
    margin-top: 1px;
}

#logoG img {
    width: 70px;
    margin: 10px;
}

.question {
    font-size: 0.95rem;
    margin-top: 0;
}

span {
    font-weight: 600;
}

/*_______________________________________________________________*/
/*LOGIN*/
#containerLogin {
    background-image: url("https://i.ibb.co/3FH8zwv/fondo-celular-900x420.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*_______________________________________________________________*/
/*MENU*/
#containerMenu {
    background: #FFFDFC;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100%;
}

#headerMenu {
    background: #FFFDFC;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

#menu {
    background: #25394A;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 60px;
    bottom: 0;
    justify-content: center;
    position: fixed;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#create,
#profile,
#start {
    border: none;
    background: #25394A;
    margin: 0 28px;
    font-size: 30px;
}



/*_______________________________________________________________*/
/*CREATE*/
#containerCreate {
    background: #FFFDFC;
    display: flex;
    flex-flow: column nowrap;
    height: 640px;
    width: 100%;
}

.newPost {
    background: #FFFDFC;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100%;
}

.title {
    background: #FFFDFC;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
}

.divClosePost{
    display: flex;
    align-items: center;
}

.title p {
    color: #000000;
    font-weight: 400;
    font-size: 0.95rem;
}

.share {
    border: none;
    color: #25394A;
    background: #FFFDFC;
    font-weight: 600;
    font-size: 0.95rem;
}

.title i {
    color: #25394A;
    font-size: 1.5rem;
}

.title .btnClosePost {
    background: #FFFDFC;
    border: none;
    margin-right: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFDFC;
    width: 100%;
    height: 100%;
}

#writeText {
    color: #25394A;
    background: #FFFDFC;
    margin-top: 100px;
    width: 88%;
    height: 250px;
    padding: 10px;
    border-radius: 3px;
    align-self: center;
}

.text i {
    color: #EFA373;
    font-size: 2.5rem;
}

.text .btnImage {
    background: #ffffff;
    border: none;
    border-radius: 5px;
    align-self: flex-end;
    margin: 25px;
}

/*_______________________________________________________________*/
/*FEED*/
#headerFeed {
    background: #FFFDFC;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    height: 110px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

#containerFeed {
    background: #FFFDFC;
    display: flex;
    flex-flow: column nowrap;
    height: 640px;
    width: 100%;
}

/*_______________________________________________________________*/
/*PROFILE*/
#containerProfile {
    background: #FFFDFC;
    display: flex;
    flex-flow: column nowrap;
    height: 640px;
    width: 100%;
}

#headerProfile {
    background: #FFFDFC;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    height: 110px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    justify-content: space-around;
}

#logOut {
    border: none;
    color: #25394A;
    background: #FFFDFC;
    font-weight: 600;
    font-size: 0.95rem;
}

.imageProfile {
    display: flex;
    margin-top: 170px;
    justify-content: center;
}

.infoProfile {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 85%;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.infoProfile h3 {
    color: #000000;
    margin-block-end: 5px;
}
.infoProfile h4 {
    color: #000000;
}
.infoProfile p {
    color: #000000;
    line-height: 23px;
    margin-top: 8px;
}

.infoProfile .description {
    margin-top: 40px;
    width: 90%;
    align-items: flex-start;
}

/*________MEDIA TABLET____________*/
/*HOME*/
@media (min-width: 420px) {
    #containerHomeFlex {
        background-image: url("https://i.ibb.co/9bPrGf0/img-1920x1080-opacidad.jpg");
        background-repeat: no-repeat;
        background-position: top center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #home {
        width: 500px;
        height: 85%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
    }

    #containerTextYug {
        font-size: 1.3rem;
        line-height: 2.2rem;
        width: 75%;
        height: 65%;
        margin: 5% 15% 0;
        padding: 7%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #textYug {
        width: 100%;
    }

    #containerBtn {
        margin-top: 10px;
    }

    .btns {
        border-radius: 2.5rem;
        width: 13.5rem;
        height: 3.2rem;
        font-size:1.1rem;
    }
    
    /*___________________________*/
    /*REGISTER*/
    #containerRegister {
        background-image: url("https://i.ibb.co/9bPrGf0/img-1920x1080-opacidad.jpg");
        background-position: top center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containerForm {
        width: 500px;
        height: 750px;
        border-radius: 10px;
    }

    #form input {
        width: 280px;
        height: 53px;
    }

    /*__________________________________*/
    #form {
        width: 21.9rem;
        height: auto;
    }

    .arrowBack {
        font-size: 2.2rem;
    }

    #form p {
        font-size: 1.1rem;
    }


    /*___________________________*/
    /*LOGIN*/
    #containerLogin {
        background-image: url("https://i.ibb.co/9bPrGf0/img-1920x1080-opacidad.jpg");
        background-position: top center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containerForm {
        width: 500px;
        height: 85%;
        border-radius: 10px;
    }

    /*___________________________*/
    /*MENÚ*/
    #headerMenu {
        background: #FFFDFC;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
        height: 100px;
        width: 100%;
        display: flex;
        position: fixed;
        align-items: center;
        padding-right: 12%;
    }

    #headerMenu img {
        width: 70px;
    }


    #headerFeed {
        background: #FFFDFC;
        box-shadow: 0 0.06rem 0.25rem rgba(0, 0, 0, 0.25);
        height: 110px;
        width: 100%;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
    }

    #menu {
        display: flex;
        flex-direction: row;
        background: rgb(255, 255, 255);
        width: 25%;
        height: 30%;
        bottom: 0;
        justify-content:center;
        align-self: flex-end;
        position: fixed;
        padding-right: 3%;
       
    }

    #create,
    #profile,
    #start {
        border: none;
        background: rgb(255, 255, 255);
        margin:0px 1rem 0px 1rem;
        width: 100px;
    }

    #iconHome,
    #iconProfile,
    #iconCreate
    {
        color:#25394A;
        font-size: 40px;
    }

    .title {
        padding-right: 12%;
    }

    .newPost {
        padding-right: 12%;
        height:110px;
    }

    #writeText {
        margin-top: 150px;
        width: 75%;
    }

     /*___________________________*/
    /*FEED*/
    #headerFeed {
        background: #FFFDFC;
        box-shadow: 0 0.06rem 0.25rem rgba(0, 0, 0, 0.25);
        height: 110px;
        width: 100%;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
    }

    #containerFeed{
        height: 100vh;
        background: rgb(255, 170, 170);
        
        /*fondo de color*/
    }

    #containerPost{
        width:70%;
        height: 100vh;
       background: rgb(255, 255, 255);
       
       /*contenedor publicación tiene que ser blanco*/
    }

    /*___________________________*/
    /*CREATE*/
    #containerCreate {
        height: 100vh;
        background: rgb(255, 255, 255);
        /*fondo color*/
    }

    #newPost {
        background: rgb(255, 255, 255);
        position: fixed;
        display: flex;
        flex-flow: column nowrap;
        height: 100vh;
        width: 100%;
        /*contenedor publicación deberia ser blanco*/
    }

    .title {
        justify-content: space-between;
        height:110px;
    }

    .title .btnClosePost {
        margin-left: 4rem;
        font-size: 1.2rem;
    }

    .share {
        font-size: 1.2rem;
    }

    #writeText {
        width: 70%;
        margin-left: 4.4rem;
    }

    .text{
        width: 75%;
        height: 500px;
    }

    /*___________________________*/
    /*PROFILE*/
    #headerProfile {
        height: 110px;
    }

    #containerProfile {
        background: rgb(255, 255, 255);
        height: 100vh;
        /*height: 120px;*/
        display: flex;
        flex-flow: column nowrap;
        align-content: center;
        /*fondo color*/
    }

    #containerProfile2{
        background: rgb(255, 255, 255);
        height: 100vh;
        width:100%;
        /*contenedor info perfil deberia ser blanco*/
    }

    #logOut{
        font-size: 1.2rem;
    }

    

    .imageProfile {
            display: flex;
            margin-top: 170px;
            justify-content: center;
        
    }
    .infoProfile {
        margin-top: 15px;
        width: 600px;
    }

   
    #containerMenu {
        height: 85%;
    }

}

/*___________MEDIA PANTALLA PC_______________*/
@media (min-width: 1400px) {
    

   

   
}
