* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: white;
    text-decoration:none;
}
/*____________________________*/
/*HOME*/
#containerHomeFlex {
    background-image: url("https://i.ibb.co/7Xytj0g/Fondo-celular.jpg");
    background-repeat: no-repeat;
    height: 640px;
    width: 100%;
}

#home {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#containerTextYug {
    /*background:rgba(115, 241, 255, 0.283);*/
    height: 65%;
    padding: 20%;
    font-size: 1rem;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

#logo img {
    width: 190px;
    margin-bottom: 10px;
}

#containerBtn {
    /* background:rgba(255, 115, 234, 0.283);*/
    width: 100%;
    height: 35%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns {
    background: linear-gradient(90deg, #F3A674 0%, #25394A 97.33%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.249);
    border-radius: 40px;
    color: rgba(255, 255, 255, 0.762);
    width: 190px;
    height: 48px;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
}
/*____________________________*/
/*REGISTER*/
#arrowBack {
    display: flex;
    align-self: flex-start;
    margin: 20px 0 0 20px;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
}
#logo2 img {
    width: 80px;
    margin: 0 30px 15px;
}
#containerRegister {
    background-image: url("http://imgfz.com/i/aqc1IS5.jpeg");
    height: 640px;
    width: 100%;
}

#containerForm {
    background: rgba(0, 0, 0, 0.249);
    height: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    width: 240px;
    height: 48px;
    margin: 12px;
    border: none;
    font-size: 0.9rem;
}

.textInput {
    padding: 20px;
}

::placeholder {
    color: white;
    font-weight: 300;
    font-style: italic;
}

#textYug {
    margin-top: 8px;
}

#logoG img {
    width: 70px;
    margin: 15px;
}

.question {
    font-size: 0.95rem;
    margin-top: 0;
}

span {
    font-weight: 600;
}
/*____________________________*/
/*LOGIN*/
#containerLogin {
    background-image: url("http://imgfz.com/i/aqc1IS5.jpeg");
    height: 640px;
    width: 100%;
}









/*____________________________*/
@media (min-width: 420px) {
    #containerHomeFlex {
        background-image: url("https://i.ibb.co/b5SVBvT/fondo-desktop-opacidad.jpg");
        height: 100vh;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        
    }
    
    #home {
       /* background: rgba(0, 0, 0, 0.3);*/
        width: 450px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
    }
    
    #containerTextYug {
        /*background:rgba(115, 241, 255, 0.283);*/
        width:75%;
        height: 65%;
        margin:5% 15% 0 15%;
        padding: 10%;
        display: flex;
        flex-direction: column; 
        justify-content: center;
    }

    #textYug{
        /*background:rgba(255, 180, 115, 0.42);*/
        width:100%;
    }
    
    #containerBtn {
        margin-top: 10px;
    }
/*___________________________*/
/*REGISTER*/
    #containerRegister {
        background-image: url("https://i.ibb.co/b5SVBvT/fondo-desktop-opacidad.jpg");
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    #containerForm {
        width: 450px;
        height: 100vh;
    }
/*___________________________*/
/*LOGIN*/
#containerLogin {
    background-image: url("https://i.ibb.co/b5SVBvT/fondo-desktop-opacidad.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    }




}

